@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}

body {
	height: 100vh;
	width: 100%;
	background-color: #0a142cdb;

}

.main {
	margin: auto;
	height: 93%;
	width: 100%;
	display: flex;
	border-radius: 10px;
	background-color: #16181F;
	overflow: hidden;
	box-shadow: 0.1px 4px 8px 5px rgba(0, 0, 0, 0.1);
	margin-top: -3em;
}


/*Tools part*/
.Tools {
	position: relative;
	margin: auto;
	top: -4.7em;
	display: flex;
	justify-content: center;
	background-color: #0a142cdb;
}

.Tools ul {
	list-style: none;
	display: flex;
	width: 100%;
	margin-top: -1em;
}

.Tools ul li {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
	transition: 0.4s;
}



.Tools ul li i {
	color: rgba(255, 255, 255, 0.5);
	margin-top: 10px;
	font-size: 2em;
}



.Tools ul li p {

	font-size: .6em;
	color: rgba(255, 255, 255, 0.5);
}

/*content part */
.content {
	position: relative;
	width: 100%;
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 1em 0 1em;
}



.choose_image {
	width: 70%;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.upload_img_box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	cursor: pointer;
}

p#hint {
	color: rgba(255, 255, 255, 0.5);
	font-size: 1.2em;
}

.upload_img_box i {
	font-size: 5em;
	color: rgba(255, 255, 255, 0.5);
}

#selectedImage {
	display: none;
}


/*canvas */
#image_canvas {
	display: none;
}


/*image holder part*/
.image_holder {
	position: relative;
	display: none;
	width: 100%;
	height: 80%;
}

.image_holder img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}



/*options part */
.options {
	position: absolute;
	transform: translateY(80px);
	bottom: .5em;
	left: 0em;
	height: 50px;
	width: 50%;
	padding: 0 25px;
	transition: 0.5s;
}

.options .active_controller {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	justify-content: space-between;
}

.option {
	display: none;
}

.option p {
	font-weight: bold;
	color: rgba(255, 255, 255, 0.5);
}

/*Range slider*/
input[type="range"] {
	width: 80%;
	height: 5px;
	cursor: pointer;
	outline: none;
}




/* mybtns */
.mybtns{
	display: flex;
	align-items: center;
	height: 2.5em;
	position: absolute;
	right: 2em;
	bottom: 1em;
}
.mybtns button{
	cursor: pointer;
	height: 100%;
	width: 5em;
	font-size: 1em;
}




/* heads */
.heads{
	position: absolute;
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: relative;
    margin: auto;
    margin-top: .3em;
	height: 3em;
	align-items: center;
	z-index: 1;

}
.title{
    color: #555;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    padding: .5em;
    width: 80%;
	background-color: #0a142cdb;

}
.title h2{
    font-size: .8em;
}
/*  Exit Button */
#exitBtn{
    width: 3em;
	height: 100%;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #0a142cdb;

}
#exitBtn svg{
    height: 20px;
    width: 20px;
}
#exitBtn svg path{
    fill: #555;
}

@media (min-width: 708px ){
    .main,.Tools{
        position: relative;
        width: 25em;
    }
	.heads{
		width: 25em;
	}
	
}