html,body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #16181F;
    color: white;
    overflow: hidden;
}
.container{
    margin: auto;
    text-align: center;
    width: 100%;

}

.container h2{
    text-align: left;
    margin-left: 1em;
    
}

/* head */
.head{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin: auto;
    margin-top: 1em;
}


  /*  Exit Button */
#exitBtn{
    background-color: gray;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#exitBtn svg{
    height: 15px;
    width: 15px;
}

/* dashboard */
.dashboard{
    overflow: auto;
    height: 39em;
    width: 100%;
}
.dashboard::-webkit-scrollbar {
    display: none;
  }
/* entry */
.entry{
    height: 7em;
    background-color: #20232D;
    display: flex;
    width: 85%;
    margin: auto;
    padding: .5em;
    margin-bottom: 1em;
}
.images{
    width: 33%;
    height: 100%;
    margin-right: .5em;
}
.images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
}

/* info */
.info{
    margin: 0;
    width: 70%;
}
.view{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.view h2{
    font-size: .9em;
    line-height: 1;
    margin: 0;
}
.view p{
    padding: .2em;
    font-size: .7em;
    line-height: 0;
    height: 1.5em;
    display: flex;
    align-items: center;
    border-radius: .5em;
    background-color: blue;
}

.info-time{
    display: flex;
    align-items: center;
    
}
.info-time svg{
    margin-right: .5em;
}
.info-time p{
    font-size: .8em;
    margin: 0;
}
@media (min-width: 708px ){
    .container{
        position: relative;
        width: 25em;
    }
}



