html,body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #16181F;
}
.container{
    margin: auto;
    text-align: center;
    margin-top: 10%;
    width: 90%;
}
h2{
    color: #ffff;
}
p{
    color: #7D848D;
}

input{
    border-radius: 1em;
    border: none;
    height: 3em;
    width: 90%;

}

input{
    margin-top: 1em;
    background: #20232D;
    text-indent: 1em;
    padding: .2em;
    font-size: .8em;

    color:#ffff;
}

input:focus{
    outline: none;
}

button{
    margin-top: 2em;
    width: 90%;
    height: 3em;
    border-radius: .5em;
    background: #0D6EFD;
    color: white;
    border: none;
}

::placeholder{
    color: #ffff;
}

  /*  Exit Button */
#exitBtn{
    background-color: gray;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}


#forgot{
    margin-top: .5em;
    width: 10em;
    float: right;
    text-decoration: none;
    font-size: .8em;
}
@media (min-width: 708px ){
    .container{
        position: relative;
        width: 25em;
    }
}



