html,body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #16181F;
}

.container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.content {
    color: white;
    padding: 1em;
    margin: auto;
    text-align: center;
    margin-top: 5em;
}

