html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100vw;
    overflow: hidden;
    /* background-color: #16181F; */
}
.container{
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
}

/* heads */
.heads{
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: relative;
    margin: auto;
    margin-top: .3em;

}
.title{
    color: #555;
    background-color: #16181F;
    display: flex;
    justify-content: space-around;
    height: 2em;
    align-items: center;
    padding: .5em;
    width: 80%;
}
.title h2{
    font-size: .8em;
}
/*  Exit Button */
#exitBtn{
    background-color: #16181F;
    width: 3em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#exitBtn svg{
    height: 20px;
    width: 20px;
}
#exitBtn svg path{
    fill: #555;
}

/* images */

.images img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1%;
    left: 0%;
    object-fit: cover;
    filter: blur(6px);
}

/* output */
.output{
    position: relative;
    width: 85%;
    height: 75%;
    margin: auto;
    margin-top: .3em;
}
.output img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* scale */
.scale{
    position: relative;
    background-color: #16181F;
    width: 90%;
    margin: auto;
    border-radius: 1em;
    padding: .2em;
    margin-top: .3em;
    margin-bottom: -.3em;
}
.scale input[type="range"]{
    width: 90%;
    
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #555;
    outline: none;
    margin: 10px 0;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #555;
    cursor: pointer;
  }
  
  input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #555;
    cursor: pointer;
  }
  


/* dashboard */
.dashboard{
    width: 100%;
    position: relative;
    display: flex;
    background-color: #16181F;
    align-items: center;
    justify-content: space-around;
    line-height: 0;
    height: 4.5em;
    margin-top: .7em;
    color: #fff;
}
.entry{
    color: gray;
    font-size: .7em;
}
.entry svg path{
    fill:gray;
}

@media (min-width: 708px ){
    .container{
        position: relative;
        width: 25em;
    }
}



